body {
	background-image: url(../images/water.jpg);
	background-size: cover;
}

.rscontent {
	background-image: url("../images/content_background.png");
	position: absolute;
	width: 35%;
	top: 50px;
	bottom: 0px;
	min-height: calc(100%-50px);
	margin-top: -2px;
	margin-bottom: 0px;
	right: 0px;
	/*display: none;*/
	z-index: 1;
	overflow: auto;
	text-align: right;
} 

.latest {
	width: 95%;
	height: 95%;
	text-align: left;
	color: white;
	padding-left: 5%;
	padding-top: 5%;
	margin-right: 20%;
}

.latestarticle {
	margin-left: 5%;
	margin-top: 8%;
	width: 85%;
}

.latestarticle h5 {
	text-align: right;
}

.latestarticle img {
	display: block;
	margin: auto;
	width: 65%;
}

@media (max-width: 800px) {
	body .rscontent {
		width: 65%;
	}
}